PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xaefido.mongodb.net/timetable_allocation?retryWrites=true&w=majority
AUTH_TOKEN_SECRET=replace-with-a-long-random-secret
SEED_PASSWORD=CampusDemo!2026
WEB_ORIGIN=http://localhost:5173
